<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Club</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <form
      action="/players"
      method="post"
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
      "
    >
      <h1>Add new club</h1>
      <div class="mb-3">
        <label for="name" class="form-label">Player Name</label>
        <input type="text" class="form-control" id="name" name="name" />
      </div>
      <div class="mb-3">
        <label for="position" class="form-label">Position</label>
        <input type="text" class="form-control" id="position" name="position" />
      </div>
      <div class="mb-3">
        <label for="birth_date" class="form-label">Birth Date</label>
        <input
          type="text"
          class="form-control"
          id="birth_date"
          name="birth_date"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
</html>
